# Terraform bestanden
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Gevoelige variabelebestanden
*.auto.tfvars
secret.tfvars
terraform.tfvars.json
aws_terraform.tfvars.json
ansible_vars.json


.venv/

# logs
*.log
logs/

vault.yml

# Go binaries
config-starter/config-starter
config-starter/bin/
config-backup/

# in-progress scripts
deployer/

.venv/
