{
  "subscription_id": "725a7bc1-52e3-4084-be64-511580d664c1",
  "resource_group_name": "SELab-Wordpress",
  "public_ip_dns_label": "sel-opdracht5-groep99",
  "luanti_dns_label": "sel-opdracht5-luanti-groep99"
}
